.libros-continer {
    background-color: rgb(39, 158, 209);
    height: 100px;
    width: 100px;
}


.bg_nav {
    background-color: brown;
    height: 60px;
    width: 1100px;
    padding: 10px;
    padding-left: 100px;
    margin-left: 40px;
}

.bg_ingreso{
    background-color: aquamarine;
    height: 300px;
    width: 300px;
   padding-left: 90px;
   padding-top: 90px;
   display: none;
}

.body{
    background-color: rgb(211, 201, 201);
   width: 90%;
}